<% content_for :content do %>

<h6>
  <%= link_to "Cancel", coach_page_path(@coach.id), class: "bi bi-chevron-left link-back" %>
</h6>
<div class="personal-block-h">
  <h5 class="personal-info">Change Password</h5>
</div>
<%= form_with multipart: true, model: @coach, class: "form-update", url: password_change_coach_path do |f| %>
<% invalid = @coach.errors.include?(:old_password) %>

<div class="form-group" data-controller="password-toggle">
  <%= f.label :old_password, class: "labels" %>
  <%= f.password_field :old_password, class: "field #{'is-invalid' if invalid} unhide", autocomplete: "current-password", "data-target": "password-toggle.unhide" %>
  <span data-action="click->password-toggle#password" class="password-field-icon-1 position far bi bi-eye-slash"></span>
  <% if invalid %>
    <div class="invalid-feedback d-block">
      <% @coach.errors.full_messages_for(:old_password).each do |error_message| %>
        <%= error_message %>.
      <% end %>
    </div>
  <% end %>
</div>
<br>
<% invalid = @coach.errors.include?(:password) %>

<div class="form-group" data-controller="password-toggle">
  <%= f.label :password, class: "labels" %>
  <%= f.password_field :password, class: "field #{'is-invalid' if invalid} unhide", autocomplete: "current-password", "data-target": "password-toggle.unhide" %>
  <span data-action="click->password-toggle#password" class="password-field-icon-1 position far bi bi-eye-slash"></span>
  <% if invalid %>
    <div class="invalid-feedback d-block">
      <% @coach.errors.full_messages_for(:password).each do |error_message| %>
        <%= error_message %>.
      <% end %>
    </div>
  <% end %>
</div>
<br>

<% invalid = @coach.errors.include?(:password_confirmation) %>

<div class="form-group" data-controller="password-toggle">
  <%= f.label :password_confirmation, class: "labels" %>
    <%= f.password_field :password_confirmation, class: "field #{'is-invalid' if invalid} unhide", autocomplete: "current-password", "data-target": "password-toggle.unhide" %>
    <span data-action="click->password-toggle#password" class="password-field-icon-1 position far bi bi-eye-slash"></span>
  <% if invalid %>
    <div class="invalid-feedback d-block">
      <% @coach.errors.full_messages_for(:password_confirmation).each do |error_message| %>
        <%= error_message %>.
      <% end %>
    </div>
  <% end %>
</div>
<br>
  <%= f.submit 'SAVE CHANGES', class: "btn btn-sing-up marge-top"%>
<% end %>

<% end %>
<%= render template: "coach/show" %>
