<% content_for :content do %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<h6>
  <%= link_to "Go back", coach_library_page_path, class: "bi bi-chevron-left link-back" %>
</h6>
<br>

<div class="row">

  <div class="col-8">
    <div class="row-width">
      <div class="row">
        <div class="col-12 mt">
          <%= @technique.title %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4"></div>
</div>
<br>
<br>

<div class="row">
  <div class="col-8">
    <div class="row-width">
      <div class="layer">
        <% @steps.each do |step|%>
          <div class="row">
            <div class="col-12">
              <h6> Step <%= step.number %> </h6>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="body_pad">
                    <p class="step-title-card"><%= step.title %></p>
                    <span><%= step.body %></span>
                    <br>
                    <video width="100%" height="300px" controls src="https://www.youtube.com/watch?v=Jt6ZyyUyK0k">
                      Your browser does not support the video tag.
                    </video>
                </div>

              </div>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-4">
    <div class="row">

      <div class="col-12 pading-recoomend-card ">


        <div class="card h-100">
          <div class="item">
            <% if @technique.photo.attached? %>
              <img src="<%= url_for(@technique.photo) %>" class= "card-img-top" alt="...">
            <% else %>
              <img src="<%= asset_path('anthony-tran-vXymirxr5ac-unsplash.jpg') %>" class="card-img-top" alt="...">
            <% end %>
            <% if @technique.problems %>
              <div class="tags-div-absolute">
                <% @technique.problems.each do |problem|%>
                  <span class="tags-in-image "><%= problem.name%></span>
                <% end %>
              </div>
            <% end %>

          </div>
          <div class="card-body">
            <h6 class="title_card"><%= @technique.title %></h6>

            <p class="description"><%= @technique.description %></p>
            <div class="age">Age: <strong><%= @technique.age %> years</strong></div>
            <div class="gender">Gender: <strong><%= @technique.gender %></strong></div>
            <br>
            <div class="step">Steps:<strong> <%= @technique.total_steps %></strong></div>
            <div class="duration">Duration:<strong> <%= @technique.duration %> </strong></div>
            <ul class="hr">
              <li><i class="bi bi-people"></i> <%= Recommendation.where(technique_id: @technique.id).count%></li>
              <li><i class="bi bi-hand-thumbs-up"></i> <%= Rating.where(technique_id: @technique.id).sum(:like)%></li>
              <li><i class="bi bi-hand-thumbs-down"></i> <%= Rating.where(technique_id: @technique.id).sum(:dislike)%></li>
              <li class="start-button"><%= link_to 'RECOMMEND', recommend_to_users_page_path,  {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#modal-window', class: "get_down_link"}  %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<% end %>
<%= render template: "coach/show" %>
