<% content_for :content do %>

<h6>
  <%= link_to "Go back", coach_page_path(@coach.id), class: "bi bi-chevron-left link-back" %>
</h6>
<br>

<div class="row">
  <div class="col-12 mt">
    User's Profile
  </div>
</div>

<br>

<div class="row">
  <div class="col-8 mul">
    <div class="row">
      <div class="col-3">
        <div class="total-current-box">
          <span class="size-total"><i class="bi bi-check-circle"></i> Total progress</span>
          <div class="total-statistic">
            <div class="big-numder">
              <%= Recommendation.where(status: 'compeleted', user_id: @invitation.user.id).count%>
            </div>
            <div class="of">
              techniques completed
            </div>
          </div>
        </div>

      </div>
      <div class="col-3">
        <div class="total-current-box">
          <span class="size-total"><i class="bi bi-play-circle"></i> Current progress</span>
          <div class="total-statistic">
            <div class="big-numder">
              <%= Recommendation.where(status: 'in_progress', user_id: @invitation.user.id).count%>
            </div>
            <div class="of">
              techniques in process
            </div>
          </div>
        </div>

      </div>
      <div class="col-3">
        <div class="total-current-box">
          <span class="size-total"><i class="bi bi-clock"></i> Total time</span>
          <div class="total-statistic">
            <div class="big-numder">
              <%= @total_hours %>
            </div>
            <div class="of">
              hours for technigues
            </div>
          </div>

        </div>

      </div>
      <div class="col-3">
        <div class="total-current-box">
          <span class="size-total"><i class="bi bi-check-circle"></i> Current time</span>
          <div class="total-statistic">
            <div class="big-numder">
              <%= @current_hours %>
            </div>
            <div class="of">
              hours for technigues
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>
    <div class="row-width">
      <div class="row">
        <div class="col-12 mt">
          User techniques
        </div>
      </div>
    </div>
    <br>
    <div class="row">

      <% @recommendations.each do |recommendation|%>
        <div class="col-6 distance">
          <div class="card h-100">
            <div class="item">
              <% if recommendation.status == 'recommended' %>
                <span class="notify-badge">RECOMMENDS</span>
              <% elsif recommendation.status == 'compeleted' %>
                <span class="notify-badge">COMPLETED</span>
              <% end %>
              <% if recommendation.technique.photo.attached? %>
                <img src="<%= url_for(recommendation.technique.photo) %>" class= "card-img-top" alt="...">
              <% else %>
                <img src="<%= asset_path('anthony-tran-vXymirxr5ac-unsplash.jpg') %>" class="card-img-top" alt="...">
              <% end %>

              <span class="steps-passed"><%= recommendation.step %>/<%= recommendation.technique.total_steps %> steps passed</span>
              <% if recommendation.technique.problems %>
                <div class="tags-div-absolute">
                  <% recommendation.technique.problems.each do |problem|%>
                    <span class="tags-in-image "><%= problem.name%></span>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="card-body">
              <h6 class="title_card"><%= recommendation.technique.title %></h6>
              <p class="description"><%= recommendation.technique.description %></p>
              <div class="age">Age: <strong><%= recommendation.technique.age %> years</strong></div>
              <div class="gender">Gender:<strong> <%= recommendation.technique.gender %></strong></div>
              <br>
              <div class="step">Steps: <strong><%= recommendation.technique.total_steps %></strong></div>
              <div class="duration">Duration: <strong><%= recommendation.technique.duration %></strong></div>
              <% if recommendation.status == 'recommended' %>
                <div class="date-block">
                  <hr>
                  <div class="date-info">Not started yet</div>
                </div>
              <% elsif recommendation.status == 'compeleted' %>
                <div class="date-block">
                  <hr>
                  <div class="date-info">Started: <%= recommendation.started_at %></div>
                  <div class="date-info">Finished: <%= recommendation.ended_at %></div>
                </div>
              <% else %>
                <div class="date-block">
                  <hr>
                  <div class="date-info">Started: <%= recommendation.started_at %></div>
                </div>
              <% end %>

            </div>
          </div>

        </div>
      <% end %>
    </div>

  </div>
  <div class="col-4">
    <div class="row">
            <div class="col-12">
              <br>
              <div class="card">
                <div class="body">
                  <div class="small-card">
                    <div class="image-avatar-small">
                      <% if @invitation.user.avatar_user.attached? %>
                        <img src="<%= url_for(@invitation.user.avatar_user) %>" class="rounded-circle avatar-coach-users">
                      <% else %>
                        <img src="<%= asset_path('generic-user-icon-10.png') %>" class="rounded-circle avatar-coach-users">
                      <% end %>

                    </div>
                    <div class="name-coach">
                      <span class="coach-name"><%= @invitation.user.name %></span><br>
                      <span class="status"><%= @invitation.user.email %></span>
                      <p class="coach-info-left"><%= @invitation.user.age %> years | <%=@invitation.user.gender %></p>
                      <% if @invitation.user.about %>
                        <p class="coach-info-left"><%= @invitation.user.about %></p>
                      <% end %>
                      <div class="edit-prof-coach">
                        <i class="bi bi-envelope"></i>
                      </div>
                    </div>
                    <div class="about-user">
                      <p class="tages-info">Problems</p>
                      <% @invitation.user.problems.each do |problem|%>
                        <span class="tags"><%= problem.name%></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <br>
    <div class="row-width">
      <div class="row">
        <div class="col-12 mt">
          History
        </div>
      </div>
      <% @notifications.each do |data|%>
        <div class="row">
          <div class="col-2 notif-avatar-block">
            <% if data.coach_id && data.user_id%>
              <img src="<%= url_for(@invitation.user.avatar_user) %>" class= "rounded-circle notification-avatar">

            <% else %>
              <% if @coach.avatar.attached? %>
                <img src="<%= url_for(@coach.avatar) %>" class= "rounded-circle notification-avatar">
              <% else %>
                <img src="<%= asset_path('generic-user-icon-10.png') %>" class="rounded-circle notification-avatar">
              <% end %>
            <% end %>

          </div>
          <div class="col-7">
            <p class="notif-text-block"><%= data.body %></p>
            <p class="notif-hours-block"><%= time_lasted_since(data.created_at, data)%></p>
          </div>
          <div class="col-3 notif-tag-block "></div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<% end %>
<%= render template: "coach/show" %>
