    <nav class="navbar navbar-expand-lg nav_background fixed-top">
      <div class="container-fluid pad">
        <a class="navbar-brand logo logo-button" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="conteiner">
      <h4 class="wait-title">Hello, <strong><%= @coach.name %></strong>!</h4>
      <p class="help-text">You have registered as a Coach in our system.</p>
      <p class="help-text">Please, share some personal information about you so that we can</p>
      <p class="help-text">personalize your onboarding experience</p>

      <%= form_with multipart: true, model: @coach, class: "form-registration", url: become_coach_update_path do |f| %>
        <div class="image-input">
          <img class="rounded-circle" id="output" src="<%= asset_path('png-clipart-graphy-camera-camera-rectangle-photography.png') %>"/>
          <label for="avatar">
            <h4 class="upload">Upload profile photo</h4>
            <p class="upload-text">Image format should be png, jpg</p>
            <p class="upload-text">no more than 5 Mb</p>
          </label>
          <input type="file" accept="image/*" name="coach[avatar]" id="avatar" onchange="loadFile(event)">
          <script>
            var loadFile = function(event) {
              var output = document.getElementById('output');
              output.src = URL.createObjectURL(event.target.files[0]);
              output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
              }
            };
          </script>
        </div>
        <div class="form-group">
          <%= f.label 'Age', class: "labels" %>
          <%= f.text_field :age, class: "field form-control" %>
        </div>
        <br>

        <label class="labels">Gender</label>
        <div class="sign_for_gender">
              <label class="link_for_gender male" for="male">
                <input type="radio" class="female" name="coach[gender]" id="male" value="male">
                <p class="margin-none">MALE</p>
              </label>


              <label class="link_for_gender female" for="female">
                <input type="radio" class="female" name="coach[gender]" id="female" value="female" checked>
                <p class="margin-none">FEMALE</p>
              </label>
        </div>
        <br>
        <div class="form-group">
          <label class="labels" for="tags">Areas of expertise</label>
          <select class="form-control select2-multi" name="coach[problems][]" multiple="multiple">
            <% @problems.each do |data|%>
                <option value="<%= data[:name]%>"><%= data[:name] %></option>
            <% end %>
          </select>
        </div>
        <br>
        <script>
            $('.select2-multi').select2();
        </script>
        <div class="form-group">
          <%= f.label 'Education', class: "labels" %>
          <%= f.text_field :education, class: "field form-control" %>
          <p class="after-input">Name of educational institution, specialty, degree</p>
        </div>
        <div class="add-block">
          <img class="rounded-circle" src="<%= asset_path('add_button.png') %>">
          <label>Add another</label>
        </div>
        <br>

        <div class="form-group">
          <%= f.label 'Work experience', class: "labels" %>
          <%= f.text_field :experience, class: "field form-control" %>
          <p class="after-input">Position, company, work experience</p>
        </div>
        <div class="add-block">
          <img class="rounded-circle" src="<%= asset_path('add_button.png') %>">
          <label>Add another</label>
        </div>
        <br>


        <div class="form-group">
          <%= f.label 'Licenses and certificates', class: "labels" %>
          <%= f.text_field :licenses, class: "field form-control" %>
          <p class="after-input">Name, issuer, date of issue</p>
        </div>
        <div class="add-block">
          <img class="rounded-circle" src="<%= asset_path('add_button.png') %>">
          <label>Add another</label>
        </div>
        <br>


        <div class="form-group" id="networks-block">
          <label for="social_network" class="labels">Link on social networks</label>
          <input type="text" class="field form-control" name="coach[social_networks][]" id="social_network">
          <p class="after-input">E.g., facebook, linkedin, etc.</p>
        </div>
        <div class="add-block">
          <img class="rounded-circle" src="<%= asset_path('add_button.png') %>" onclick="addInput()">
          <label>Add another</label>
        </div>
        <br>
        <script type="text/javascript">
          function addInput() {
            let block = document.getElementById('networks-block')
            let input = document.createElement("input")
            let p = document.createElement("p")
            let text = document.createTextNode("E.g., facebook, linkedin, etc.")
            input.classList.add("field", "form-control")
            input.name = "coach[social_networks][]"
            p.classList.add("after-input", "marge_text")
            block.appendChild(input)
            block.appendChild(p)
            p.appendChild(text)
          }
        </script>

        <%= f.submit 'GET STARTED', class: "btn btn-sing-up marge-top"%>
      <% end %>
    </div>
