<% content_for :content do %>

<h6>
  <%= link_to "Cancel", user_page_path, class: "bi bi-chevron-left link-back" %>
</h6>
<div class="personal-block-h">
  <h5 class="personal-info">Personal information</h5>
</div>
<%= form_with multipart: true, model: @user, class: "form-update", url: update_profile_user_path do |f| %>
  <div class="image-input-coach">
    <% if @user.avatar_user.attached? %>
      <img src="<%= url_for(@user.avatar_user) %>" class= "rounded-circle" id="output">
    <% else %>
      <img src="<%= asset_path('png-clipart-graphy-camera-camera-rectangle-photography.png') %>" class="rounded-circle" id="output">
    <% end %>
    <label for="avatar">
      <h4 class="upload">Upload profile photo</h4>
      <p class="upload-text">Image format should be png, jpg</p>
      <p class="upload-text">no more than 5 Mb</p>
    </label>
    <input type="file" accept="image/*" name="user[avatar_user]" id="avatar" onchange="loadFile(event)">
    <script>
      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src) // free memory
        }
      };
    </script>
  </div>
  <br>
  <div class="form-group">
    <%= f.label 'Full name', class: "labels" %>
    <%= f.text_field :name, class: "field form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label 'E-mail', class: "labels" %>
    <%= f.text_field :email, class: "field form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label 'Age', class: "labels" %>
    <%= f.text_field :age, class: "field form-control" %>
  </div>
  <br>
  <label class="labels">Gender</label>
  <div class="sign_for_gender">
      <label class="link_for_gender male" for="male">
        <input type="radio" class="female" name="user[gender]" id="male" value="male" checked>
        <p class="margin-none">MALE</p>
      </label>
      <label class="link_for_gender female" for="female">
        <input type="radio" class="female" name="user[gender]" id="female" value="female">
        <p class="margin-none">FEMALE</p>
      </label>
  </div>
  <br>
  <div class="form-group">
    <label class="labels" for="tags">What problem would you like to solve?</label>
    <select class="form-control select2-multi" name="user[problems][]" multiple="multiple">
      <% @problems.each do |data|%>
          <option value="<%= data[:name]%>"><%= data[:name] %></option>
      <% end %>
    </select>
  </div>
  <br>
  <script>
      $('.select2-multi').select2();
  </script>


  <div class="form-group">
    <%= f.label 'Tell something about yourself if you want', class: "labels" %>
    <%= f.text_area :about, class: "field form-control" %>
    <p class="after-input">This information will help the coach to better understand your problem and assess whether he is able to help you</p>
  </div>
  <br>
  <%= f.submit 'SAVE CHANGES', class: "btn btn-sing-up marge-top"%>
<% end %>

<% end %>
<%= render template: "user/show" %>
